<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>审批管理</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="/css/community.css">
</head>
<body>

<div class="container">
    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">生产商</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">检测部门</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active " id="home">
                <!--生产商-->0
                <table  class="table  table-hover " id="producerListTable" ></table>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <!--检测部门-->1
                <table class="table  table-hover " id="checkerListTable" ></table>
            </div>
        </div>

    </div>
</div>

<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/popper.min.js" ></script>
<script src="/js/bootstrap.min.js" ></script>
<script src="/js/bootstrap-table.min.js"></script>
<script src="/js/bootstrap-table-export.min.js"></script>
<script src="/js/bootstrap-table-zh-CN.min.js"></script>
<script>
    function operateFormatter(value, row, index) {
        return [
            '<a class="btn btn-info like" href="javascript:void(0)" title="点击进入详情页面">',
            '<span class="fa fa-heart">详情</span>',
            '</a>  ',
            '<a class="btn btn-success remove " href="javascript:void(0)" title="点击按钮进行编辑这一行">',
            '<span class="fa fa-trash">通过</span>',
            '</a>',
            '<a class="btn btn-danger reject ml-1" href="javascript:void(0)" title="点击按钮进行编辑这一行">',
            '<span class="fa fa-trash">驳回</span>',
            '</a>'
        ].join('')
    }

    window.operateEvents = {
        'click .remove': function (e, value, row, index) {
            // alert('You click like action, row: ' + row.siteName);
            // initModel(row);
            var id = row.userId;
            $.ajax({
                url:'/approval/approve',
                type:'post',
                data:{userId:id,status:false},
                success:function f(data) {
                    if (data.code == 200){
                       $("#producerListTable").bootstrapTable("refresh");
                       $("#checkerListTable").bootstrapTable("refresh");
                    }
                }

            });

        },
        'click .like': function (e, value, row, index) {
            $table.bootstrapTable('like', {
                field: 'id',
                values: [row.id]
            })
        },
        'click .reject': function (e, value, row, index) {
            var id = row.userId;
            $.ajax({
                url:'/approval/approve',
                type:'post',
                data:{userId:id,status:false},
                success:function f(data) {
                    if (data.code == 200){
                        // window.location.reload();
                        $("#producerListTable").bootstrapTable("refresh");
                        $("#checkerListTable").bootstrapTable("refresh");
                    }
                }

            });
        }
    }

    function initTableOfProducer(){
        $("#producerListTable").bootstrapTable({
            url: '/approval/list',         //请求后台的URL（*）
            method: 'post',                      //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: {userType:1},//传递参数（*）
            // sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber:1,                       //初始化加载第一页，默认第一页
            pageSize: 8,                       //每页的记录行数（*）
            pageList: [8, 16, 32, 100],        //可供选择的每页的行数（*）
            search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            // strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            // clickToSelect: true,                //是否启用点击选中行
            // height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            // uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            // showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            // cardView: false,                    //是否显示详细视图
            // detailView: false,                   //是否显示父子表
            columns: [{
                checkbox: true
            }, {
                field: 'userId',
                title: '账号',
                align: 'center'
            }, {
                field: 'userName',
                title: '用户名',
                align: 'center'
            }, {
                field: 'email',
                title: '邮箱',
                align: 'center'
            }, {
                field: 'createDate',
                title: '创建时间',
                align: 'center'
            }, {
                field: 'operate',
                title: '操作',
                align: 'center',
                clickToSelect: false,
                events: window.operateEvents,
                formatter: operateFormatter
            }]

        });
    }

    function initTableOfChecker(){
        $("#checkerListTable").bootstrapTable({
            url: '/approval/list',         //请求后台的URL（*）
            method: 'post',                      //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: {userType:2},//传递参数（*）
            // sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber:1,                       //初始化加载第一页，默认第一页
            pageSize: 8,                       //每页的记录行数（*）
            pageList: [8, 16, 32, 100],        //可供选择的每页的行数（*）
            search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            // strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            // clickToSelect: true,                //是否启用点击选中行
            // height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            // uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            // showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            // cardView: false,                    //是否显示详细视图
            // detailView: false,                   //是否显示父子表
            columns: [{
                checkbox: true
            },  {
                field: 'userId',
                title: '账号',
                align: 'center'
            }, {
                field: 'userName',
                title: '用户名',
                align: 'center'
            }, {
                field: 'email',
                title: '邮箱',
                align: 'center'
            }, {
                field: 'createDate',
                title: '创建时间',
                align: 'center'
            }, {
                field: 'operate',
                title: '操作',
                align: 'center',
                clickToSelect: false,
                events: window.operateEvents,
                formatter: operateFormatter
            }]
        });
    }
    $(function () {
        initTableOfChecker();
        initTableOfProducer();
    });

</script>
</body>
</html>