<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">
    <script src="/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/css/community.css">
    <!--<head th:insert="~{import :: markdown}"></head>-->
</head>
<body>
<div class="container content" style="margin-top: 10px;" >
    <header class="blog-header py-3" th:if="${session.user == null}">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-md-4  pt-1">
                <h3><a class="blog-header-logo text-dark" href="#">食品安全信息监管系统</a></h3>
            </div>
            <div class="col-md-4  text-center">
                <a class="blog-header-logo text-dark" href="#"></a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a   style="float: right" class="btn btn-sm btn-outline-secondary" href="/user/login">Sign up</a>
                <a  style="float: right" class="text-muted" href="#" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                </a>

            </div>
        </div>
    </header>

    <div class="row mb-2">
        <div class="col-md-8" >
            <div class="card h-md-300">
                <img class="card-img-top h-md-250" style="max-height: 250px;" width="100%" th:src="@{'/uploadFile/notification/'+ *{notifications[0].url}}" th:alt="*{notifications[0].notificationName}" >
                <div class="card-body">
                   <a th:href="@{'/notification/notificationDetails/'+ *{notifications[0].notificationId}}"><h4 class="card-title" th:text="*{notifications[0].notificationName}"></h4></a>
                    <p class="card-text" th:text="*{notifications[0].content}"></p>
                    <p class="card-text blog-post-meta" th:text="*{notifications[0].createDate}"></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card flex-md-row mb-4 box-shadow " style="min-height: 220px;">
                <h4>食品信息查询</h4>
                        <div class="input-group">
                            <input type="text" class="form-control" id="searchText" name="searchText" placeholder="输入商品编号">
                            <span class="input-group-btn">
                                         <button onclick="initTable()" type="btn btn-success" class="btn btn-secondary">搜索</button>
                            </span>
                        </div><!-- /input-group -->
                <table id="searchResultTable" name="searchResultTable" class="table table-hover"> </table>

                <!--<img class="card-img-right flex-auto d-none d-md-block" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16146ef2e3c%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16146ef2e3c%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.203125%22%20y%3D%22130.7%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">-->
            </div>
        </div>
    </div>
</div>
<hr>
<main role="main" class="container" style="min-height: 1500px;">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
                热点新闻
            </h3>
            <hr>
            <div class="blog-post" th:each="notification : ${notifications}"  >
               <a th:href="@{'/notification/notificationDetails/'+${notification.notificationId}}"> <h4 class="blog-post-title" th:text="${notification.notificationName}"></h4></a>
                <p class="blog-post-meta">发表日期：<span th:text="${notification.createDate}"></span></p>
                <p th:text="${notification.content}"></p>
                <hr>
            </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->

    </div><!-- /.row -->

</main><!-- /.container -->
<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/popper.min.js" ></script>
<script src="/js/bootstrap.min.js" ></script>
<script src="/js/bootstrap-table.min.js"></script>
<script src="/js/bootstrap-table-export.min.js"></script>
<script src="/js/bootstrap-table-zh-CN.min.js"></script>
<script>
    function initTable() {
        var  searchText = $("#searchText").val();
        // alert(searchText);
        if (searchText.length <= 0){
            alert("请输入查询条件");
            return;
        }
        $('#searchResultTable').bootstrapTable('destroy');
        // var batchId = $("#locale").val();
        $("#searchResultTable").bootstrapTable({
            url: '/search',         //请求后台的URL（*）
            method: 'post',                      //请求方式（*）
            queryParams: {searchText:searchText},//传递参数（*）
            columns: [{
                field: 'productId',
                title: '产品编号',
                align: 'center'
            }, {
                field: 'productName',
                title: '产品名称',
                align: 'center',
                formatter:function (value, row, index) {
                    return [
                        '<a   href="/product/productDetailsBySearch/'+row.productId+'" title="点击进入详情页面">',
                        '<span class="fa fa-heart">'+row.productName+'</span>',
                        '</a>  ',

                    ].join('')
                }
            }]
        });
    }

</script>
</body>
</html>
