<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新闻详情</title>
    <head th:insert="~{import :: markdown}"></head>

</head>
<body >
  <div class="content">
      <div class="card">
          <div class="card-body">
              <h3 class="card-title" th:text="${notification.notificationName}"></h3>
          </div>
          <img th:src="@{'/uploadFile/notification/'+ *{notification.url}}" class="card-img-top" alt="">
          <div content="card-footer">
              <p class="card-text" th:text="${notification.content}"></p>
              <p class="card-text"><small class="text-muted" th:text="${notification.createDate}"> </small></p>
          </div>
      </div>
  </div>
</body>
</html>
