<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>产品详情</title>
    <head th:insert="~{import :: markdown}"></head>

</head>
<body >
<div class="content row">
    <header class="blog-header py-3" th:if="${session.user == null}">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-md-4  pt-1">
                <h3><a class="blog-header-logo text-dark" href="/security">食品安全信息监管系统</a></h3>
            </div>
            <div class="col-md-4  text-center">
                <a class="blog-header-logo text-dark" href="#"></a>
            </div>
        </div>
    </header>
    <hr>
    <a  href="/security">返回</a>
    <div class="col-md-12 order-md-1">

        <h4 class="mb-3">食品信息</h4>
        <form class="needs-validation" novalidate>
            <!--食品信息-->
           <div class="row">
               <p>食品编号：<span th:text="${product.productId}"></span></p>
               <p>食品名称：<span th:text="${product.productName}"></span></p>
               <p>食品类别：<span th:text="${product.itemName}"></span></p>
               <p>食品图示：<span ></span></p>
               <div class="row">
                   <!--show-->
                   <div class="container">
                       <div class="row">
                           <div class="col-xs-6 col-md-3" th:each="productAttachment : ${productAttachments}">
                               <a href="#" class="thumbnail">
                                   <img th:src="@{/uploadFile/products/{url}(url=${productAttachment.url})}" style="height: 180px; width: 100%; display: block;" >
                               </a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
            <hr class="mb-4">
            <!--生产商信息-->
            <h4 class="mb-3">生产商信息</h4>
            <div class="row">
                <p>生产商编号：<span th:text="${user.userId}"></span></p>
                <p>生产商名称：<span th:text="${user.userName}"></span></p>
                <p>邮箱：<span th:text="${user.email}"></span></p>
                <p>详细地址：<span th:text="${user.provinceName}"></span><span th:text="${user.cityName}"></span><span th:text="${user.countyName}"></span><span th:text="${user.address}"></span></p>
                <p>生产基地实图：<span></span></p>
                <div class="row">
                    <!--show-->
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6 col-md-3" th:each="siteAttachment : ${siteAttachments}">
                                <a href="#" class="thumbnail">
                                    <img th:src="@{/uploadFile/sites/{url}(url=${siteAttachment.url})}" style="height: 180px; width: 100%; display: block;" >
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="mb-4">
            <!--检测信息-->
            <h4 class="mb-3">检测信息</h4>
            <div class="row">
                <p>检测机构名称：<span th:text="${examer.userName}" ></span></p>
                <p>检测机构邮箱：<span  th:text="${examer.email}"></span ></p>
                <p>检测机构地址：<span th:text="${examer.provinceName}"></span><span th:text="${examer.cityName}"></span><span th:text="${examer.countyName}"></span><span th:text="${examer.address}"></span></p>
                <p>检测日期：<span th:text="${exam.examDate}"></span></p>
                <p>检测结结果：<span th:text="${exam.examStatus}"></span></p>

            </div>
        </form>
    </div>
</div>
</body>
</html>
