<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的产品</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">

</head>
<body>
<div class="">

    <div id="toolbar">
        <div class="select" style="float: left;">
            <p>批次：</p>
            <select class="form-control" id="locale" style="width: 200px;" >
                <option th:each="batche : ${batches}" th:value="${batche.batchId}"  th:text="${batche.batchName}"></option>
            </select>
        </div>

    </div>
    <table id="productListTable" class="table table-hover"> </table>
    <hr>
    <a class="btn btn-primary " style="float: left;margin-left: 5px;" data-toggle="modal" data-target="#exampleModal" href="#">添加产品</a>

</div>

<!--model-->
<div class="modal fade bs-example-modal-lg"  id="exampleModal" tabindex="-1" role="dialog"  aria-labelledby="exampleModalLabel" >
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">添加/修改产品信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-site" >
                    <div class="form-group">
                        <!--<label for="siteId" class="col-form-label">基地id:</label>-->
                        <input type="hidden" class="form-control" id="batchId" name="batchId">
                    </div>
                    <div class="form-group">
                        <div class="form-group " style="float: left;">
                            <!--<label for="site_select" class="col-form-label"></label>-->
                            选择基地:<select class="form-control" id="site_select" name="siteId" style="width: 150px;" >
                            <option  value="" >全部</option>
                            <option th:each="site : ${sites}"  th:value="${site.siteId}" th:text="${site.siteName}"></option>

                        </select>
                        </div>
                        <div class="form-group  "  style="float: left;margin-left: 1ps;">
                            <!--<label for="batch_select" class="col-form-label">选择批次:</label>-->
                            选择批次:<select class="form-control" id="batch_select" name="batchId" style="width: 150px;" >
                            <option  value="" >全部</option>
                            <option th:each="batch : ${batches}"  th:value="${batch.batchId}" th:text="${batch.batchName}" ></option>

                        </select>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="item-select" class="col-form-label">选择产品</label>
                        <select class="form-control" id="item-select" name="itemId" style="width: 150px;" >
                            <option  value="" >全部</option>
                            <option th:each="item:${items}" th:value="${item.itemId}" th:text="${item.itemName}"></option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label for="description" class="col-form-label">产品描述:</label>
                        <textarea  rows="3" class="form-control" id="description" name="description" ></textarea>
                    </div>
                    <div class="form-group ">
                        <label for="composition" class="col-form-label">成分:</label>
                        <textarea  rows="3" class="form-control" id="composition" name="composition" ></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" id="btn-submit" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>

<!--&lt;!&ndash;model&ndash;&gt;-->
            <!--<div class="modal-body" id="add_product_card">-->
               <!---->
            <!--</div>-->


<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/popper.min.js" ></script>
<script src="/js/bootstrap.min.js" ></script>
<script src="/js/bootstrap-table.min.js"></script>
<script src="/js/bootstrap-table-export.min.js"></script>
<script src="/js/bootstrap-table-zh-CN.min.js"></script>
<script>
    var $table = $('#table')
    var $remove = $('#remove')
    var selections = []

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        })
    }

    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1
        })
        return res
    }

    function detailFormatter(index, row) {
        var html = []
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>')
        })
        return html.join('')
    }

    function operateFormatter(value, row, index) {
        return [
            '<a class="btn btn-success like" href="javascript:void(0)" title="Like"> 详情</a>',
            '<i class="fa fa-heart"></i>',
            '</a>  ',
            '<a class="btn btn-danger remove" href="javascript:void(0)" title="Remove">删除 </a>',
            '<i class="fa fa-trash"></i>',
            '</a>'
        ].join('')
    }

    window.operateEvents = {
        'click .like': function (e, value, row, index) {
            initModel(row);
            $("#exampleModal").modal('show');
        },
        'click .remove': function (e, value, row, index) {
            $table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
            })
        }
    }

    function initModel(row){
        $("#batch_select").find("option[value = '"+row.batchId +"']").attr("selected","selected");
        $("#item-select").find("option[value = '"+row.itemId+"']").attr("selected","selected");
        $("#site_select").find("option[value = '"+row.siteId+"']").attr("selected","selected");
        $("#description").val(row.description);
        $("#composition").val(row.composition);
    }

    function initTable() {
        var batchId = $("#locale").val();
        $('#productListTable').bootstrapTable({
            url: '/product/list',         //请求后台的URL（*）
            method: 'post',                      //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: {batchId:batchId},//传递参数（*）
            // sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber:1,                       //初始化加载第一页，默认第一页
            pageSize: 8,                       //每页的记录行数（*）
            pageList: [8, 16, 32, 100],        //可供选择的每页的行数（*）
            search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            // strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            // height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            // uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            // showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            // cardView: false,                    //是否显示详细视图
            // detailView: false,                   //是否显示父子表
            columns: [{
                checkbox: true
            }, {
                field: 'productId',
                title: '产品编号',
                sortable: true,
                align: 'center'
            }, {
                field: 'productName',
                title: '产品名称',
                align: 'center'
            }, {
                field: 'batchId',
                title: '批次编号',
                align: 'center',
                sortable: true
            }, {
                field: 'batch.batchName',
                title: '批次名称',
                align: 'center'
            }, {
                    field: 'siteId',
                    title: '场地编号',
                    align: 'center'
                }, {
                    field: 'siteName',
                    title: '场地名称',
                    align: 'center'
                },{
                field: 'batch.productedDate',
                title: '生产日期',
                sortable: true,
                align: 'center'
            },{
                field: 'batch.effectiveDate',
                title: '有效期',
                sortable: true,
                align: 'center'
            },{
                field: 'operate',
                title: '操作',
                align: 'center',
                clickToSelect: false,
                events: window.operateEvents,
                formatter: operateFormatter
            }]
        })
        $table.on('check.bs.table uncheck.bs.table ' +
            'check-all.bs.table uncheck-all.bs.table',
            function () {
                $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)

                // save your data, here just save the current page
                selections = getIdSelections()
                // push or splice the selections if you want to save all data selections
            })
        $table.on('all.bs.table', function (e, name, args) {
            console.log(name, args)
        })
        $remove.click(function () {
            var ids = getIdSelections()
            $table.bootstrapTable('remove', {
                field: 'id',
                values: ids
            })
            $remove.prop('disabled', true)
        })
    }
    function refreshTable(){
        $("#product_table").bootstrapTable('destroy');
        initProductTable();
    }

    $(function() {
        initTable();
        $('#locale').change(function () {
            $("#productListTable").bootstrapTable('destroy');
            initTable();
        });

        $('#item-select').change(function () {
            var  itemId = $("#item-select").val();
            $.ajax({
               url:'/item/'+itemId,
               type:'get',
                success:function (item) {
                $("#description").val(item.description);
                $("#composition").val(item.composition);
                }
            });
        });
        // 注册modal提交点击事件
        $("#btn-submit").click(function () {
            var siteId = $("#site_select").val();
            var batchId = $("#batch_select").val();
            var itemId = $("#item-select").val();
            var composition = $("#composition").val();
            var description = $("#description").val();
            $.ajax({
                url:'/product/insert',
                type:'post',
                data: {
                    siteId:siteId,
                    batchId:batchId,
                    itemId:itemId,
                    description:description,
                    composition:composition
                },
                success:function (data) {
                    if (data.code == 200) {
                        $("#exampleModal").modal('hide');
                        refreshTable();
                    }
                }
            })
        });

    });
</script>
</body>
</html>