<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>场地详情页</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">

</head>
<body>
<div class="content">
   <h3>场地信息：</h3>
    <hr>
    <input type="hidden" id="siteId" th:value="${site.getSiteId()}">
    <p> 场地编号：<span  th:text="${site.getSiteId()}"></span></p>
    <p> 场地名称：<span th:text="${site.getSiteName()}"></span></p>
    <p> 详细地址：<span th:text="${site.getAddress()}"></span></p>
    <hr><br>
    <h3>产品列表：</h3>
    <hr>
    <div id="toolbar">
        <div class="select " style="float: left;">
            <select class="form-control" id="locale" style="width: 200px;" >
                <option  value="" >全部</option>
                <option  value="已审批" >已审批</option>
                <option  value="已审批" >待审批</option>
            </select>
        </div>
        <a class="btn btn-primary " style="float: left;margin-left: 5px;" data-toggle="modal" data-target="#exampleModal" href="#">添加产品</a>
    </div>
    <table class="table  table-hover " id="itemListTable" ></table>

</div>
<!--model-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">添加/修改产品信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-site" >
                    <div class="form-group">
                        <input type="hidden" id="site" name="siteId" th:value="${site.getSiteId()}">
                    </div>
                    <div class="form-group">
                        <!--<label for="siteId" class="col-form-label">基地id:</label>-->
                        <input type="hidden" class="form-control" id="itemId" name="itemId">
                    </div>
                    <div class="form-group">
                        <label for="itemName" class="col-form-label">产品名称:</label>
                        <input type="text" class="form-control" id="itemName" name="itemName">
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label">产品描述:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" id="btn-submit" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/popper.min.js" ></script>
<script src="/js/bootstrap.min.js" ></script>
<script src="/js/bootstrap-table.min.js"></script>
<script src="/js/bootstrap-table-export.min.js"></script>
<script src="/js/bootstrap-table-zh-CN.min.js"></script>
<script>
    function operateFormatter(value, row, index) {
        return [
            '<a class="btn btn-info like" href="javascript:void(0)" title="点击进入详情页面">',
            '<span class="fa fa-heart">详情</span>',
            '</a>  ',
            '<a class="btn btn-info remove " href="javascript:void(0)" title="点击按钮进行编辑这一行">',
            '<span class="fa fa-trash">编辑</span>',
            '</a>'
        ].join('')
    }
    function initModel(row){
        var itemId = row.itemId;
        $.ajax({
            url:'/item/'+itemId,
            type:'get',
            success:function (data) {
                $("#siteId").val(data.siteId);
                $("#site").val(data.siteId);
                $("#itemName").val(data.itemName);
                $("#description").val(data.description);
                $("#exampleModal").modal('show');
            }
        });
    }
    window.operateEvents = {
        'click .remove': function (e, value, row, index) {
            // alert('You click like action, row: ' + row.siteName);
            initModel(row);

        },
        'click .like': function (e, value, row, index) {
            $table.bootstrapTable('like', {
                field: 'id',
                values: [row.id]
            })
        }
    }

    function initTable(){
        var siteId = $("#siteId").val();
        // alert(siteId);
        $("#itemListTable").bootstrapTable({
            url: '/item/listBySiteId',         //请求后台的URL（*）
            method: 'post',                      //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: {siteId:siteId},//传递参数（*）
            // sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber:1,                       //初始化加载第一页，默认第一页
            pageSize: 8,                       //每页的记录行数（*）
            pageList: [8, 16, 32, 100],        //可供选择的每页的行数（*）
            search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            // strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            // clickToSelect: true,                //是否启用点击选中行
            // height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            // uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            // showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            // cardView: false,                    //是否显示详细视图
            // detailView: false,                   //是否显示父子表
            columns: [{
                checkbox: true
            }, {
                field: 'itemId',
                title: '产品编号',
                align: 'center'
            }, {
                field: 'itemName',
                title: '产品名称',
                align: 'center'
            }, {
                field: 'description',
                title: '产品描述',
                align: 'center'
            }, {
                field: 'composition',
                title: '有效期',
                align: 'center'
            }, {
                field: 'operate',
                title: '操作',
                align: 'center',
                clickToSelect: false,
                events: window.operateEvents,
                formatter: operateFormatter
            }]

        });
    }

    $(document).ready(function () {
        // 初始化表格
        initTable();
        $('#exampleModal').on('hide.bs.modal', function (event) {
            $("#form-site")[0].reset();
        });
    // 注册modal提交
        $("#btn-submit").click(function () {
            var siteId = $("#siteId").val();
            var itemId = $("#itemId").val();
            var description = $("#description").val();
            var itemName = $("#itemName").val();
            $.ajax({
                url:'/item/insertOrUpdate',
                type:'post',
                data:{
                    siteId:siteId,
                    itemId:itemId,
                    description:description,
                    itemName:itemName
                },
                success:function (data) {
                    if (data.code == 200) {
                        $("#exampleModal").modal('hide');
                        window.location.reload();
                    }
                }
            })
        });
    });
</script>
</body>
</html>